:root
{
    --font-family: Roboto, san-serif;
    --primary-color: #f1f1f1;
    --primary-color-dark: #40c4b2;
    --secondary-color: #A476E2;
    --accent-color: #202020;
    --text-dark: #141414;
    --text-light: #f1f1f1;
    --extra-light: #f9f9f9;
    --max-width: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
H2{
    text-align: center;
    color: var(--text-light);
    font-weight: bold;
}
a {
    text-decoration: none;
}
body{
    font-family: var(--font-family);
    background-color: #202020;
}
p{
    font-family: var(--font-family);
    color: var(--text-light);
}
h1{
    font-weight: bold;
    position: relative;
    font-size: 130px;
    height: 50px;
    color: var(--text-light);
}
.nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--accent-color);
    z-index: 99;

}
.nav_content{
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.Main-Logo{
    height: 40px;
    margin-top: -1rem;
}
nav .checkbox, nav input{
    display: none;
}
nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
    z-index: 99;
}
ul li a {
    padding: .5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}
ul li a:hover {
    color: var(--primary-color-dark);
    font-weight: bold;
    border-top-color: var(--primary-color-dark);
    border-bottom-color: var(--primary-color-dark);
}

.hire_me {
    padding: 7px 30px;
    background-color: var(--primary-color-dark);
    color: var(--text-light);
    text-decoration: none;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
}
.hire_me:hover {
    background-color: var(--primary-color);
    color: var(--primary-color-dark);
}
.FBLOGO:hover {
    border-radius: 25px;
    box-shadow: 0px 0px 1px 3px var(--secondary-color);  
    background-color: var(--secondary-color);
}

.Section{
    background-color: var(--accent-color);
    margin-top: -5%;
}
.Section_container{
    height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.subtitle{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 500;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}
.title{
    font-weight: bold;
    color: var(--text-light);
    line-height: 3rem;
    margin-bottom: 3.5rem;
}
.title span{
    color: var(--primary-color-dark);
}
.JobTitle{
    font-size: 22px;
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 1.5rem;
}
.description{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 1.5rem;
    font-size: 21px;
    font-weight: 300;
}
.LMYD{
    font-size: 21px;
    position: relative;
    font-weight: bold;
    color: var(--text-light);
}
.Speak{
    font-weight: bold;
    position: relative;
    font-size: 30px;
    height: 50px;
    color: var(--primary-color-dark);
    text-align: left;
}

.image{
    display: grid;
    place-items: center;
}
.image img{
    width: min(30rem, 90%);
    border-radius: 100%;
    box-shadow: 0px 0px 2px 5px var(--primary-color-dark);
}
.HomePageLogo{
    height: 100%;
    width: 100%;
    background: url(Assets/Images/background.png);
    background-repeat: no-repeat;
    opacity: 8%;
    position: absolute;
    margin-left: 3%;
    margin-top: 3%;
}

.HeroLogo{
    display: flex;
    gap: 8rem;
    z-index: 100;
}
.BestSkills{
    font-size: 17px;
    color: var(--text-light);
}
.FindMe{
    font-size: 17px;
    color: var(--text-light);
}


/* --------------------------------------SERVICES OFFERS-------------------------------------- */

Hr {
    width: 81%;
    height: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: var(--text-light);
    background-color: white;
    display: flex;
    justify-content: space-evenly;  
     
}
.Container{
    display: flex;
    justify-content:center;
}
.ServiceLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
.ContService{
    min-height: 30px;
    width: 340px;
}
.ContService2{
    min-height: 30px;
    width: 340px;
    margin-left: 5%;
    margin-right: 5%;
    /* border: 3px solid rgb(169, 233, 169); */
}
.Titleservice{
    color: var(--text-light);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.ServiceDesc{
    text-align: center;
    font-size: 17px;
    color: rgb(165, 165, 168);
    width: 240px;
    margin-left: auto;
    margin-right: auto;
    min-height: 330px;
}


.ServiceButton{
   background-color: var(--secondary-color);
   color: var(--text-light);
   font-weight: bold;
   border-radius: 30px;
   width: 50%;
   height: 55px;
   margin-left: 25%;
   position: relative;
   bottom: 0px;
    font-size: large;
    font-weight: bold;
    border-radius: 30px;
}
.ServiceButton:hover {
    background-color: var(--secondary-color);
    color: #090B0B;
}
.carousel-item{
    height: auto;
    position: relative;
}

.ProjectAccom{
    text-align: center;
    color: var(--text-light);
    font-weight: bold;
}
.ProjectAccomline {
    width: 81%;
    height: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: white;
    display: flex;
    justify-content: space-evenly;   
}


.PAContainer
{
    height: auto;
    display: grid;
    grid-template-columns: 9% 25% 57% 9%;
    grid-template-rows: 35% 10% 20%;
}
.PAgrid-item
{
    justify-items: left;
    padding: 20px;
}
.PAitem-1{
    grid-row-start: 1;
    grid-row-end: 4;
}
.PAitem-4{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-start: 4;
}
.PAitem-3{
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-start: 3;
    border-radius: 30px;
    background-color: var(--text-light);
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    min-height: 31.5vw;
    max-height: 31.5vw;

}
.projectimg1{
    width: 100%;
    height: auto;
    border-radius: 30px;
}
 .PAitem-6{
    margin: auto;
    position: relative;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    border: solid red;
 }
 .PAitem-6 p{
    color: rgb(165, 165, 168);
 }
 .PAh3{
    top: 25%;
    font-size: 41px;
    font-weight: bold;
    color: var(--text-light);
    position: relative;
 }

 .Btn_usedtools{
    background-color: var(--secondary-color);
    font-size: 15px;
    border-radius: 25px;
    color: var(--text-light);
    font-weight: bold;
    padding: 5px;
 }


/* if change of size */
@media (max-width: 1180px){
    nav .checkbox {
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        top: 100px;
        height: calc(100vh - 85px);
        left: -100%;
        background-color: var(--accent-color);
        flex-direction: column;
        justify-content: flex-start;
        gap: 3rem;
        z-index: 99;
    }
    nav #check:checked ~ ul {
        left: 0;
    }

    ul li a {
        font-size: 1.2rem;
        color: var(--text-light);
    }

    .Section_container{
        padding: 7rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
    }
    .image{
        grid-area: 1/1/2/2;
    }
    .title{
        font-weight: bold;
        color: var(--text-light);
        line-height: 3rem;
        margin-bottom: 3.5rem;
        font-size: 80px;
    }
    .title span{
        color: var(--primary-color-dark);
    }
    .HeroLogo{
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
    .description{
        line-height: 1.5rem;
        color: var(--text-light);
        margin-bottom: 1.5rem;
        font-size: 21px;
        font-weight: 300;
        max-width: 80%;
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .Speak{
        font-weight: bold;
        position: relative;
        font-size: 30px;
        height: 50px;
        color: var(--primary-color-dark);
        text-align: center;
    }

    h2{
        text-align: center;
        color: var(--text-light);
        font-weight: bold;
        font-size: 5.0vw;
    }
    .Container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        gap: 40px;
    }
    .ContService{
        min-width: 80%;
        background-color: #252525;
        padding-bottom: 2.5rem;
        padding-top: 1.5rem;
        border-radius: 30px;
    }
    .ContService2{
        min-width: 80%;
        margin-left: 0%;
        margin-right: 0%;
        background-color: #252525;
        padding-bottom: 2.5rem;
        padding-top: 1.5rem;
        border-radius: 30px;
        
        /* border: 3px solid rgb(169, 233, 169); */
    }
    .Titleservice{
        color: var(--text-light);
        font-weight: bold;
        text-align: center;
        font-size: 4.5vw;
    }
    .ServiceLogo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        min-width: 20%;
    }
    .ServiceDesc{
        text-align: center;
        font-size: 3.5vw;
        color: rgb(165, 165, 168);
        min-width: 80%;
        margin-left: auto;
        margin-right: auto;
        min-height: auto;
    }
    .ServiceButton{
        font-size: 2.5vw;
        min-height: 30%;
     }
    .PAContainer{
        display: grid;
        grid-template-columns: 10% 54% 26% 10%;
        grid-template-rows: 20% 10% 3% 67%;
        align-items: start;
        vertical-align: top;
        height: auto;
        margin: 0;
    }
    .PAitem-2{
        grid-row-start: 1;
        grid-row-end: 1;
        grid-column-start: 2;
        grid-column-end: 3;
        padding-top: 2%;
    }
    .PAitem-5{
        padding-top: 20%;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    .PAitem-6{
        
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 4;
        font-size: 2.0vw;
        padding-right: 5%;
    }
    .PAitem-3{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 2;
        grid-column-end: 3;
        min-height: 31vw;
        max-height: 31vw;
    }
    .PAh3{
        font-size: 3.5vw;
        align-items: start;
    }
    .Btn_usedtools{
        background-color: var(--secondary-color);
        font-size: 1.0vw;
        border-radius: 25px;
        color: var(--text-light);
        font-weight: bold;
     }


}

/* --------------------------------------PROJECTS AND ACCOMPLISHMENTS-------------------------------------- */


 

